section.contact
{
    .grid_contact
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        img
        {
            height: 100%;
            width: 100%;
        }
    }

    .grid_contact_mobile
    {
        display: none;
    }

    footer
    {
        background: #90D4C5;
        padding: 5rem 0;
        
        img.logo
        {
            display: block;
            margin: 0 auto;
            width: 10%;
            margin-bottom: 3rem;
        }

        ul.ul_contact
        {   
            display: flex;
            justify-content: center;
            margin-bottom: 6rem;

            li
            {
                list-style: none;

                a
                {
                    text-decoration: none;
                    color: #4F9384;
                    font-weight: 700;
                    font-size: 1.1rem;
                }
            }

            li:nth-child(2)
            {
                padding: 0 4rem;
            }
        }

        .social_media
        {
            display: flex;
            justify-content: center;
            margin-right: 2rem;
            
            img
            {
                margin-left: 2rem;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 1020px) 
{
   section.contact
   {
       .grid_contact_mobile
       {
           display: grid;
           grid-template-columns: repeat(2, 1fr);

           img
           {
               width: 100%;
           }
       }

       .grid_contact
       {
           display: none;
       }
        
        footer
        {
            img.logo
            {
                width: 20% !important;
            }
        }
   }
}

@media only screen and (max-width: 545px) 
{
    section.contact
    {
        footer
        {
            img.logo
            {
                width: 35% !important;
            }
        }
    }
}