*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .wrapper
    {
        overflow-x: hidden;
        
        body
        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}